			/* ditu */
			.body .ditu a:hover{text-decoration: underline !important;}
			/* right */
			.body .right h3{background: url(../img/er/right-icon.png) no-repeat left center;padding-left: 10px;font-size: 20px;}
			.right-box1{margin-top: 30px;}
			.right-box1 ul{margin-top: 10px;}
			.right-box1 li{height: 30px;line-height: 30px;padding: 0px 20px 0px 20px;background-color: #f3f3f3;color: #757575;display: inline-block;font-size: 14px;border-radius: 20px;margin-top: 10px;transition: .3s ease-in-out;margin-right: 16px;text-align: center;}
			.right-box1 li:hover{background-color: #ff9700;}
			.right-box1 li:hover a{color: white;}
			.right-box1L1{width: 111px;}
			.right-box1L2{width: 168px;}
			/* right-box2 */
			.right-box2{margin-top: 30px;margin-bottom: 30px;}
			.right-box2 ul{margin-top: 10px;}
			.right-box2 li{line-height: 30px;max-height: 60px;overflow: hidden;font-size: 14px;transition: .3s;color: #333333;}
			.right-box2 li span{width: 15px;height: 15px;color: white;font-size: 14px;line-height: 15px;display: inline-block;text-align: center;margin-right: 10px;}
			.right-box2 li:hover a{color: #ff9700;text-decoration: underline;}
			.right-box2 li .rightSpan1{background-color: #ed4200;}
			.right-box2 li .rightSpan2{background-color: #ff6e10;}
			.right-box2 li .rightSpan3{background-color: #ff9900;}
			.right-box2 li .rightSpan4{background-color: #bababa;}	
			.right-box2 li .rightSpan5{background-color: #bababa;}
			/* right-box3 */
			.right-box3 li{padding: 0px 10px 0px 10px;float: left;font-size: 14px;color:#666;margin-top: 10px;transition: .3s;}
			.right-box3 .liBorder{border-right: solid 1px #e5e5e5;}
			.right-box3 li:hover a{color:#ff9700;}